.app {
  .header {
    box-shadow: 0 1px 2px 1px #0003;
    z-index: 10;
    background-color: #fff;
    .navbar {
      .active {
        //   color: rgb(255, 127, 157);
      }
    }
    .header-link:hover {
      background-color: rgb(207, 221, 252);
      border-radius: 5px;
    }
    .item {
      position: absolute;
      top: -8px;
      right: 0;
      background-color: rgb(243, 113, 113);
      color: #fff;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
    .icon-cart:hover {
      background-color: rgb(71, 71, 201);
      color: #fff;
      border-radius: 50%;
    }
    .active {
      background-color: rgb(81, 81, 255);
      color: #fff;
      border-radius: 8px;
    }
  }

  .filter {
    .input {
      outline: none;
    }
    .close-btn{
      font-size: 14px;
      cursor: pointer;
      color: #c0c0c0;
    }
    .close-btn:hover{
      color: #273d5f;
    }
    .search {
      border: 1px solid #c0c0c0;
      padding: 5px 7px;
      border-radius: 5px;
      width: 200px;
    }

    .selector {
      border: 1px solid #c0c0c0;
      width: 200px;
      padding: 5px 0;
      border-radius: 5px;
    }
  }

  .card {
    box-shadow: 0 1px 3px #0003;
    padding: 30px 0 0 0;
    height: 550px;
    cursor: pointer;
  }
  .paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
      background-color: #273d5f;
      color: #fff;
    }
    .page-link:hover {
      background-color: #37537d;
      color: #fff;
      cursor: pointer;
    }
  }

  .loadinError{
    .error{
      background-color: rgb(251, 115, 115);
    }
    .btn{
      background-color: rgb(251, 115, 115);

    }
    .btn:hover{
      background-color: rgb(246, 60, 60);
    }
  }
}
